# Gathering Data through JSON

```bash 
JSON stands for JavaScript Object Notation — it’s a lightweight format for storing and sharing data.

Think of it as a text-based box where you can keep data in a structured way that’s easy for both humans to read and computers to process.

Key points about JSON:

It stores data in key–value pairs (like a dictionary in Python).

Keys are always in double quotes.

Values can be:

    String ("Hello")

    Number (123)

    Boolean (true or false)
    
    Null (null)

    Array ([1, 2, 3])

    Object ({"name": "Yashwanth"})

Commonly used for API responses, configuration files, and data transfer between servers and web apps.

Language-independent — not just for JavaScript.
```

# import pandas

In [2]:
import pandas as pd

In [15]:
# loading the csv file using file name 
# note : file name should be in same folder

df = pd.read_json("test.json")

In [ ]:
# loading data uisng url 
# syntax 
df  = pd.read_json("url")

In [22]:
# read_json parameters already discussed in read_csv concepts
# 1) dtype
df = pd.read_json("test.json",dtype={"id":object,"ingredients":object}) # here you need to specify column name : datatype
df.head()

      id                                        ingredients
0  18009  [baking powder, eggs, all-purpose flour, raisi...
1  28583  [sugar, egg yolks, corn starch, cream of tarta...
2  41580  [sausage links, fennel bulb, fronds, olive oil...
3  29752  [meat cuts, file powder, smoked sausage, okra,...
4  35687  [ground black pepper, salt, sausage casings, l...

``` bash 
1) dtype 
2) convert_dates
3) encoding
4) chunksize
5) nrows
```

# # Gathering Data through SQL

`step 1` : import the mysql connector

In [23]:
# install mysql connector if not, command : pip install mysql-connector 
import mysql.connector

`step 2` : set the following things

In [27]:
conn = mysql.connector.Connect(
    host = 'localhost',
    user = 'root',
    password = 'Yash@9346659926', 
    database = 'world'
)

`step 3` : use the pd.read_sql_query()

In [32]:
pd.read_sql_query("select * from city where CountryCode='IND' ",con=conn)

C:\Users\hp5cd\AppData\Local\Temp\ipykernel_2612\2721712860.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from city where CountryCode='IND' ",con=conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]

### read_sql_query() parameters 
```bash 
dtype
index_col
chunksize
con 
parse_dates

In [ ]:
# if you want to more info : https://pandas.pydata.org/docs/reference/index.html